@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

.container {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    font-family: "Open Sans", sans-serif;
    align-content: center;
    justify-content: center;
}
.container .elemento {
  min-width: 300px;
  height: auto;
  text-align: center;
}

.calendario {
  width: 100%;
  padding: 10px;
  text-align: center;
}

.calendario2 {
    width: 100%;
    text-align: center;
    height: 479px;
    border: 1px lightgrey solid;
    margin-top: 80px;
    background-color: #f5f0f0;
    margin-left: 20px;
  }
.calendario .cal-header {
  margin: 5px 5px 10px;
  font-family: "Lato", "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
}

.anotate-heade{
    margin: 5px 5px 10px;
    font-family: "Lato", "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
}
.head2{
    background-color: #333333;
    color: lightgrey;
}
.calendario .cal-row {
  border-top: 1px lightgrey solid;
  border-right: 1px lightgrey solid;
  position: relative;
  display: block;
  height: 85px;
  color: #333;
  transition: all ease 0.9s;
}
.calendario .cal-row:last-child {
  border-bottom: 1px lightgrey solid;
}
.calendario .cal-row:hover .badge {
  width: 100%;
}
.calendario .cal-row:hover .date,
.calendario .cal-row:hover .info,
.calendario .cal-row:hover .info a {
  color: #f8f8ff;
}
.calendario .cal-row  .badge {
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  margin: 0 0 0 0px;
  transition: 0.9s ease-in-out;
  width: 5px;
  background-color: #333333;
}
.calendario .cal-row   .rosso {
  background-color: #dd3333;
}

.calendario .cal-row .blu {
  background-color: #3333dd;
}
.calendario .cal-row .verde {
  background-color: #33dd33;
}

.cal-row-nueva {
    border-top: 1px lightgrey solid;
    border-right: 1px lightgrey solid;
    position: relative;
    display: block;
    height: 85px;
    color: #333;
    transition: all ease 0.9s;
  }

.calendario .cal-row .date,
.calendario .cal-row .info {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  transition: all ease 0.9s;
}
.calendario .cal-row .date {
  width: 15%;
  margin: 0 10px 0 10px;
  font-family: "Lato", "Open Sans", sans-serif;
  text-align: center;
}
.calendario .cal-row .date .month {
  text-transform: uppercase;
  line-height: 0.5;
  margin-top: 10px;
}
.calendario .cal-row .date .day {
  font-size: 1.5em;
  font-weight: bold;
}
.calendario .cal-row .info {
  text-align: left;
}
.calendario .cal-row .info a {
  color: #333;
  text-decoration: none;
  transition: all ease 0.9s;
}
.calendario .cal-row .info a:hover {
  text-decoration: underline;
}
.calendario .cal-row .info .info-time,
.calendario .cal-row .info input[type=checkbox ] {
  font-size: 0.8em;
}

.container{
    flex: 0 0 calc(50% - 12px);
}

.box2 {
    border-width: 1px 5px;
    border: outset;
    background-color: #ddd;
    border-radius: 15px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    width: 200px;
    text-align: center;
  }

  @media all and  (max-width: 599px) {
    .calendario2 {
      width:95%;
      height: 379px;
      margin-top: 5px;
      margin-left: 0px;
    }
  }